language: general

services:
  - docker

branches:
  only:
    - master

before_install:
  - docker pull acidgenomics/bioc-release
  - docker images

script:
  - docker run -ti --user="bioc" --volume="$PWD:/bioverbs" --workdir="/bioverbs" acidgenomics/bioc-release Rscript -e 'source("travis-docker.R")'

notifications:
  email:
    recipients:
      - mike@steinbaugh.com
    on_success: change
    on_failure: change
